* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a8f;
}

.dad {
    width: 300px;
    height: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;

}

.mm {
    margin-top: -269px;
}

h1 {
    background-color: rgb(10, 10, 104);
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 100px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom: 1px solid black;
}

.div-1 {
    background-color: #eee;
    margin-top: 20px;
    padding: 15px;
    width: 300px;
    margin-top: -10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid slategrey; 
}

.button {
    height: 25px;
    color: white;
    background-color: rgb(10, 10, 104);
    border-radius: 40px;
    margin-left: 10px;
}

.text {
    border-radius: 40px;
    height: 25px;
    width: 200px;
    margin-right: 10px;
    border: 0.5px solid slategrey;
}


.div-2 {
    width: 300px;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid slategrey; 
    background-color: white;
}

.dlet {
    color: white;
    width: 60px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.459);
    font-weight: bold;
    border: none;
}

.div-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.295);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

